---
import type { PaginateFunction } from "astro";
import { getCollection } from "astro:content";
import BlogList from "../../../components/BlogList.astro";
import Layout from "../../../layouts/Layout.astro";
import type { PageObjectResponseType } from "notro";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const posts = await getCollection("posts");
  const tags = [
    ...new Set(
      posts.flatMap((entry) =>
        entry.data.properties.Tags.multi_select.map((tag) => tag.name),
      ),
    ),
  ];
  return tags.flatMap((tag) => {
    const filteredPosts = posts.filter((post) =>
      post.data.properties.Tags.multi_select.some((t) => t.name === tag),
    );
    return paginate(filteredPosts, {
      params: { tag },
      pageSize: 10,
    });
  });
}

const { page } = Astro.props;
const { tag } = Astro.params;

const data = page.data.map(({ data }) => data as PageObjectResponseType);
---

<Layout title={`タグ: ${tag}`}>
  <main class="nt-posts">
    <section class="nt-selectable nt-collection_view-block">
      <BlogList posts={data} />
    </section>
    <nav class="nt-pagination">
      {page.url.prev && <a href={page.url.prev}>← 前へ</a>}
      <span>{page.currentPage} / {page.lastPage}</span>
      {page.url.next && <a href={page.url.next}>次へ →</a>}
    </nav>
  </main>
</Layout>
