---
import type { PageObjectResponseType } from "notro";
import { DatabaseProperty, getPlainText, OptimizedDatabaseCover } from "notro";

interface Props {
  posts: PageObjectResponseType[];
}

const { posts } = Astro.props;
---

{
  posts.length > 0 ? (
    <ul>
      {posts.map((data) => (
        <li>
          <article class="nt-collection-item">
            <a href={`/${getPlainText(data.properties.Slug)}`}>
              <OptimizedDatabaseCover
                cover={data.cover}
                alt={getPlainText(data.properties.Name)}
              />
            </a>
            <DatabaseProperty property={data.properties.Date} />
            <a href={`/${getPlainText(data.properties.Slug)}`}>
              {getPlainText(data.properties.Name)}
            </a>
            <DatabaseProperty property={data.properties.Description} />
            <DatabaseProperty property={data.properties.Tags} />
          </article>
        </li>
      ))}
    </ul>
  ) : null
}
